function AdjList.new 0
    push constant 2
    call Memory.alloc 1
    pop pointer 0
    push argument 0
    call Array.new 1
    pop this 0
    push constant 0
    pop this 1
    push pointer 0
    return
function AdjList.dispose 0
    push argument 0
    pop pointer 0
    push this 0
    call Array.dispose 1
    pop temp 0
    push constant 0
    return
function AdjList.print 0
    push argument 0
    pop pointer 0
    push constant 0
    return
function AdjList.add_vertex 0
    push argument 0
    pop pointer 0
    push constant 0
    return