function Data.new 0
    push constant 2
    call Memory.alloc 1
    pop pointer 0
    push argument 0
    pop this 0
    push argument 1
    pop this 1
    push pointer 0
    return
function Data.dispose 0
    push argument 0
    pop pointer 0
    push this 1
    call String.dispose 1
    pop temp 0
    push constant 0
    return
function Data.print 0
    push argument 0
    pop pointer 0
    push constant 4
    call String.new 1
    push constant 105
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 58
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push this 0
    call Output.printInt 1
    pop temp 0
    push constant 5
    call String.new 1
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 6
    call String.new 1
    push constant 110
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 109
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 58
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push this 1
    call Output.printString 1
    pop temp 0
    push constant 0
    return
function Data.get_id 0
    push argument 0
    pop pointer 0
    push this 0
    return
function Data.get_name 0
    push argument 0
    pop pointer 0
    push this 1
    return